TechnologicalRunPG/Connected Services/WorkflowService/Workflow.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.elma-bpm.ru/api/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.elma-bpm.ru/api/Workflow" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Workflow" targetNamespace="http://www.elma-bpm.ru/api/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding-ELMA_Workflow1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://www.elma-bpm.ru/api/Workflow" location="https://elma.eriskip.com/API/Workflow?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding-ELMA_Workflow" type="i0:Workflow">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TaskStandardOutputFlows">
      <soap:operation soapAction="http://www.elma-bpm.ru/api/Workflow/TaskStandardOutputFlows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PublicServiceExceptionFault">
        <soap:fault use="literal" name="PublicServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TasksInfo">
      <soap:operation soapAction="http://www.elma-bpm.ru/api/Workflow/TasksInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PublicServiceExceptionFault">
        <soap:fault use="literal" name="PublicServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ExecuteUserTask">
      <soap:operation soapAction="http://www.elma-bpm.ru/api/Workflow/ExecuteUserTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PublicServiceExceptionFault">
        <soap:fault use="literal" name="PublicServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ExecuteUserTaskAsync">
      <soap:operation soapAction="http://www.elma-bpm.ru/api/Workflow/ExecuteUserTaskAsync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PublicServiceExceptionFault">
        <soap:fault use="literal" name="PublicServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ExecuteUserTaskStatus">
      <soap:operation soapAction="http://www.elma-bpm.ru/api/Workflow/ExecuteUserTaskStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PublicServiceExceptionFault">
        <soap:fault use="literal" name="PublicServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="StartableProcesses">
      <soap:operation soapAction="http://www.elma-bpm.ru/api/Workflow/StartableProcesses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PublicServiceExceptionFault">
        <soap:fault use="literal" name="PublicServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="StartProcessForm">
      <soap:operation soapAction="http://www.elma-bpm.ru/api/Workflow/StartProcessForm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PublicServiceExceptionFault">
        <soap:fault use="literal" name="PublicServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="StartProcess">
      <soap:operation soapAction="http://www.elma-bpm.ru/api/Workflow/StartProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PublicServiceExceptionFault">
        <soap:fault use="literal" name="PublicServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="StartProcessAsync">
      <soap:operation soapAction="http://www.elma-bpm.ru/api/Workflow/StartProcessAsync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PublicServiceExceptionFault">
        <soap:fault use="literal" name="PublicServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding-ELMA_Workflow1" type="i0:Workflow">
    <wsp:PolicyReference URI="#BasicHttpBinding-ELMA_Workflow1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TaskStandardOutputFlows">
      <soap:operation soapAction="http://www.elma-bpm.ru/api/Workflow/TaskStandardOutputFlows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PublicServiceExceptionFault">
        <soap:fault use="literal" name="PublicServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TasksInfo">
      <soap:operation soapAction="http://www.elma-bpm.ru/api/Workflow/TasksInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PublicServiceExceptionFault">
        <soap:fault use="literal" name="PublicServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ExecuteUserTask">
      <soap:operation soapAction="http://www.elma-bpm.ru/api/Workflow/ExecuteUserTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PublicServiceExceptionFault">
        <soap:fault use="literal" name="PublicServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ExecuteUserTaskAsync">
      <soap:operation soapAction="http://www.elma-bpm.ru/api/Workflow/ExecuteUserTaskAsync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PublicServiceExceptionFault">
        <soap:fault use="literal" name="PublicServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ExecuteUserTaskStatus">
      <soap:operation soapAction="http://www.elma-bpm.ru/api/Workflow/ExecuteUserTaskStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PublicServiceExceptionFault">
        <soap:fault use="literal" name="PublicServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="StartableProcesses">
      <soap:operation soapAction="http://www.elma-bpm.ru/api/Workflow/StartableProcesses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PublicServiceExceptionFault">
        <soap:fault use="literal" name="PublicServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="StartProcessForm">
      <soap:operation soapAction="http://www.elma-bpm.ru/api/Workflow/StartProcessForm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PublicServiceExceptionFault">
        <soap:fault use="literal" name="PublicServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="StartProcess">
      <soap:operation soapAction="http://www.elma-bpm.ru/api/Workflow/StartProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PublicServiceExceptionFault">
        <soap:fault use="literal" name="PublicServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="StartProcessAsync">
      <soap:operation soapAction="http://www.elma-bpm.ru/api/Workflow/StartProcessAsync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PublicServiceExceptionFault">
        <soap:fault use="literal" name="PublicServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Workflow">
    <wsdl:port name="BasicHttpBinding-ELMA_Workflow" binding="tns:BasicHttpBinding-ELMA_Workflow">
      <soap:address location="http://elma.eriskip.local/API/Workflow" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding-ELMA_Workflow1" binding="tns:BasicHttpBinding-ELMA_Workflow1">
      <soap:address location="https://elma.eriskip.com/API/Workflow" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>