TechnologicalRunPG/Connected Services/WorkflowService/Workflow1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.elma-bpm.ru/api/Workflow" elementFormDefault="qualified" targetNamespace="http://www.elma-bpm.ru/api/Workflow" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://elma.eriskip.com/API/Workflow?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Common.Models" />
  <xs:import schemaLocation="https://elma.eriskip.com/API/Workflow?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Services.Public" />
  <xs:element name="TaskStandardOutputFlows">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Common.Models" minOccurs="0" name="data" nillable="true" type="q1:WebData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaskStandardOutputFlowsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Common.Models" minOccurs="0" name="TaskStandardOutputFlowsResult" nillable="true" type="q2:WebData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Services.Public" name="PublicServiceExceptionFault" nillable="true" type="q3:PublicServiceException" />
  <xs:element name="TasksInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Common.Models" minOccurs="0" name="data" nillable="true" type="q4:WebData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TasksInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Common.Models" minOccurs="0" name="TasksInfoResult" nillable="true" type="q5:WebData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteUserTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Common.Models" minOccurs="0" name="data" nillable="true" type="q6:WebData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteUserTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Common.Models" minOccurs="0" name="ExecuteUserTaskResult" nillable="true" type="q7:WebData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteUserTaskAsync">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Common.Models" minOccurs="0" name="data" nillable="true" type="q8:WebData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteUserTaskAsyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Common.Models" minOccurs="0" name="ExecuteUserTaskAsyncResult" nillable="true" type="q9:WebData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteUserTaskStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Common.Models" minOccurs="0" name="data" nillable="true" type="q10:WebData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteUserTaskStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Common.Models" minOccurs="0" name="ExecuteUserTaskStatusResult" nillable="true" type="q11:WebData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartableProcesses">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Common.Models" minOccurs="0" name="data" nillable="true" type="q12:WebData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartableProcessesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Common.Models" minOccurs="0" name="StartableProcessesResult" nillable="true" type="q13:WebData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartProcessForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Common.Models" minOccurs="0" name="data" nillable="true" type="q14:WebData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartProcessFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Common.Models" minOccurs="0" name="StartProcessFormResult" nillable="true" type="q15:WebData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Common.Models" minOccurs="0" name="data" nillable="true" type="q16:WebData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Common.Models" minOccurs="0" name="StartProcessResult" nillable="true" type="q17:WebData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartProcessAsync">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Common.Models" minOccurs="0" name="data" nillable="true" type="q18:WebData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartProcessAsyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Common.Models" minOccurs="0" name="StartProcessAsyncResult" nillable="true" type="q19:WebData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>